<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kukka-project" />
    <meta property="og:title" content="this is a Kukka Project" />
    <meta property="og:description" content="This site is where people see a various of flower's info" />
    {{! AWS 호이스팅하게 되면 og:url 추가 }}

    <meta property="twitter:type" content="website" />
    <meta property="twitter:site_name" content="Kukka-project" />
    <meta property="twitter:title" content="this is a Kukka Project" />
    <meta property="twitter:description" content="This site is where people see a various of flower's info" />
    {{! AWS 호이스팅하게 되면 twitter:url 추가 }}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="body_container">
      <section class="section pop-view">
        <div class="pop-container">
          <div class="pop-inner">
            <div class="pop-layout">
              <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FtKnLm%2Fbtrt1J2AoPi%2FBGK94WzlSFtwq2LA4V9u11%2Fimg.png" />
              <button class="close-pop_today"></button>
              <button class="close-pop_x"></button>
            </div>
          </div>
        </div></section>
      <header class="section nav-view">
        <nav class="nav">Nav</nav>
      </header>
      <section class="section video-view">video view</section>
      <section class="section image-view">
        <div class="image-header">
          <h3 class="title">
            <span>꽃과 함께 하는 일상, </span>
            <b>플라워클래스</b>
          </h3>
          <a>더보기</a>
        </div>
        <div class="image-section">
          <div class="big-image-box" class="first-image-box">
            <a>
              <img id="first-image" />
              <div class="content-box">
                <p>매주 새로운 커리큘럼을 배우는</p>
                <p>플라워 클래스 자세히 보기></p>
              </div>
            </a>
          </div>
          <ul class="smll-image-box">
            <li class="second-image-box">
              <a>
                <img id="second-image" />
                <div class="header-info-box" id="second-header-info">
                  <p>제목 ㅋㅋ</p>
                  <p></p>
                </div>
              </a>
            </li>
            <li class="third-image-box">
              <a>
                <img id="third-image" />
                <div class="header-info-box" id="third-header-info">
                  <p>제목 ㅋㅋ</p>
                  <p></p>
                </div>
              </a>
            </li>
          </ul>
          <div>
            <button id="left-btn">왼쪽</button>
            <button id="right-btn">오른쪽</button>
          </div>
        </div>
      </section>
      <section class="section banner-view">
        <button class="test-button">클릭dldlksaldkaslkdlsakdlkl</button>
      </section>
      <section class="section">
        <footer class="footer">

          <div class="container">
            <div class="footer-wrap">
              <nav class="icon-box">
                <a href="https://ko-kr.facebook.com/kukka.kr/" target="_blank" class="sns f"><img
                    class="pop-event facebook"
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F8uKSv%2FbtrtY9AugMR%2FsORXJ2hCcGrBr86KHPGxek%2Fimg.png"
                  />
                </a>
                <a href="https://www.instagram.com/kukkakorea/" target="_blank" class="sns i"><img
                    class="pop-event instargram"
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FLRhNN%2FbtrtRWv4mC9%2FZ4G57FmhyffLbVvFhRefhK%2Fimg.png"
                  /></a>
                <a href="https://www.instagram.com/kukkakorea/" target="_blank" class="sns i"><img
                    class="pop-event youtube"
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FJ4psC%2FbtrtLUyfNqg%2FtYAHBPOPgAlbOBFIHbEQ7K%2Fimg.png"
                  /></a>
              </nav>
              <div class="contact-layout">
                <div class="contact">
                  <span class="contact_title">꾸까 고객센터 1661-1031</span>
                  <p class="contact_time">(평일 10:00-13:00,14:00-18:00/주말&공휴일 제외)</p>
                  <p class="contact_qna_number">기업제휴 문의:070-4238-8251</p>
                </div>
                <nav class="faq-button">
                  꾸까 고객센터>
                </nav>
                <div class="logo">
                  <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb39D2Y%2Fbtrt1KG87nY%2Fqz9DWyQNsbI9AItb9UdE40%2Fimg.png" />
                </div>
              </div>
            </div>
            <div class="about">
              <div class="about-text">
                <span>상호명: 꾸까(kukka)</span>
                <span>|</span>
                <span>사업자 등록번호: 264-81-32594</span>
                <span>|</span>
                <span>대표자: 박춘화</span>
                <br class="only_pc" />
                <span>소재지: 서울시 서초구 남부순환로333길 10 kukka
                </span>
                <span>|</span>
                <span>
                  기업공시
                </span>
                <span>|</span>
                <span>통신판매신고번호 2018-서울서초-1692
                </span>
                <br class="only_pc" />
                <span>© 2014-2021 kukka, Inc. All rights reserved.
                </span>
              </div>
              <div class="about_nav">
                <span>이용약관</span>
                <span>개인정보 처리방침</span>
                <span>제휴안내</span>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </div>
  </body>

</html>