.banner-view {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;

  @media (max-width: 991px) {
    max-width: 940px;
    padding: 0 20px;
    background-color: #f7f7f7;
  }

  .banner-header {
    display: none;
    width: 100%;
    // display: -ms-flexbox;
    // display: -webkit-box;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
      display: flex;
    }

    .title {
      font-size: 22px;
      font-weight: 700;
      line-height: 100px;
      letter-spacing: -0.33px;
    }

    .more {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.18px;
      cursor: pointer;
    }
  }

  .container {
    position: relative;
    width: 100%;

    .show-view {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-box;
      overflow: hidden;

      .banner {
        width: 50%;
        cursor: pointer;

        @media (max-width: 991px) {
          width: 100%;
        }

        .link {
          position: relative;
          display: block;
          color: #222222;
          overflow: hidden;

          .banner-image {
            width: 100%;
            height: 180px;
            background-position: center center;
            background-size: cover;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transition: transform 0.2s ease-out 0s;

            @media (max-width: 991px) {
              // background: url("BG-brand_banner-2.png");
            }

            @media (max-width: 991px) {
              height: 380px;
            }

            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
            }
          }

          .info {
            position: absolute;
            top: 17%;
            left: 38%;
            text-align: center;
            color: #222;

            @media (max-width: 991px) {
              top: 26%;
              left: 2%;
              text-align: left;
            }

            &.show_room {
              left: 30%;
            }

            .banner-name {
              font-size: 20px;
              font-weight: 700;
              line-height: 31px;
              letter-spacing: -0.33px;

              @media (max-width: 991px) {
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.21px;
              }
            }

            .desc {
              font-size: 12px;
              line-height: 20px;
              letter-spacing: -0.21px;

              @media (max-width: 991px) {
                margin-top: 40px;
                font-size: 12px;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.18px;
              }
            }

            .more {
              width: 138px;
              height: 36px;
              margin: 10px auto 0;
              padding: 0 20px;
              border: 1px solid #222;
              border-radius: 18px;
              font-size: 12px;
              line-height: 34px;
              letter-spacing: -0.21px;

              @media (max-width: 991px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .controller-container {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 30px;
    text-align: center;

    @media (max-width: 991px) {
      display: block;
    }

    .controller {
      cursor: pointer;

      .dot {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #e4e4e4;
      }
    }
  }
}
