.banner-view {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;

  .container {
    position: relative;
    width: 100%;

    .show-view {
      display: flex;

      .banner {
        width: 50%;

        .link {
          position: relative;
          display: block;
          overflow: hidden;
          color: #222222;

          .banner-image {
            width: 100%;
            height: 180px;
            background-position: center center;
            background-size: cover;
          }

          .info {
            .banner-name {
              position: absolute;
              top: 0;
              left: 0;
            }

            .desc {
              .more {
              }
            }
          }
        }
      }
    }
  }
}
