.banner-view {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;

  .container {
    position: relative;
    width: 100%;

    .show-view {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-box;

      .banner {
        width: 50%;
        cursor: pointer;

        .link {
          position: relative;
          display: block;
          color: #222222;
          overflow: hidden;

          .banner-image {
            width: 100%;
            height: 180px;
            background-position: center center;
            background-size: cover;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transition: transform 0.2s ease-out 0s;

            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
            }
          }

          .info {
            position: absolute;
            top: 17%;
            left: 38%;
            text-align: center;
            color: #222;

            &.show_room {
              left: 30%;
            }

            .banner-name {
              font-size: 20px;
              font-weight: 700;
              line-height: 31px;
              letter-spacing: -0.33px;
            }

            .desc {
              font-size: 12px;
              line-height: 20px;
              letter-spacing: -0.21px;
            }

            .more {
              width: 138px;
              height: 36px;
              margin: 10px auto 0;
              padding: 0 20px;
              border: 1px solid #222;
              border-radius: 18px;
              font-size: 12px;
              line-height: 34px;
              letter-spacing: -0.21px;
            }
          }
        }
      }
    }
  }
}
