.image-view {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    & {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 60px;
    }
  }
  a {
    cursor: pointer;
  }
  .image-header {
    display: flex;
    justify-content: space-between;
  }

  .image-section {
    display: flex;
  }

  .big-image-box {
    width: 50%;
    padding-right: 2%;
  }

  .smll-image-box {
    display: flex;
    flex-direction: column;
  }
}
