.image-view {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    & {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 60px;
    }
  }
  a {
    cursor: pointer;
  }
  .image-header {
    padding: 40px 20px 0;
    @media (min-width: 1024px) {
      & {
        padding: 90px 0 0;
      }
    }
    h3 {
      color: #222;
      font-size: 22px;
      line-height: 34px;
      font-weight: 300;
      letter-spacing: -0.33px;
    }
    b {
      font-weight: 800;
    }
    .addWatch {
      display: none;
      @media (min-width: 1024px) {
        & {
          display: block;
          position: absolute;
          // top: -30px;
          right: 0;
          color: #787878;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          letter-spacing: -0.21px;
        }
      }
    }
  }

  .image-section {
    // display: flex;
    position: relative;
    padding: 20px 20px 40px;
    @media (min-width: 1024px) {
      & {
        padding: 40px 0 120px;
        zoom: -1;
      }
    }
  }

  .big-image-box {
    float: left;
    width: 50%;
    padding-right: 2%;
    a {
      position: relative;
      display: block;
    }
    img {
      display: block;
      width: 100%;
    }
    .content-box {
      p:nth-child(1) {
        position: absolute;
        bottom: 18%;
        left: 20px;
        max-width: 90%;
        overflow: hidden;

        color: #222;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: -0.21px;
        z-index: 2;
      }
      p:nth-child(2) {
        position: absolute;
        bottom: 7%;
        left: 20px;
        padding-right: 15px;
        max-width: 90%;
        overflow: hidden;
        color: #222;

        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: -0.24px;
        z-index: 2;
        @media (min-width: 1024px) {
          & {
            bottom: 7%;
            left: 35px;
            padding-right: 20px;
            color: #222;
            font-size: 25px;
            line-height: 37px;
            font-weight: 700;
            letter-spacing: -0.38px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 8px;
          right: 4px;
          width: 5.5px;
          height: 9.5px;
          background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
          background-position: -619px -187.5px;
          background-size: 626px 422.5px;
          text-align: center;
        }
        @media (min-width: 1024px) {
          &::after {
            top: 11px;
            right: 4px;
            width: 11px;
            height: 19px;
            background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
            background-position: -1238px -375px;
            background-size: 1252px 845px;
          }
        }
      }
    }
  }

  .smll-image-box {
    // display: flex;
    // flex-direction: column;
    float: right;
    width: 50%;
    @media (min-width: 1024px) {
      & {
        float: right;
        width: 50%;
      }
    }
    .item {
      padding-top: 20px;
      @media (min-width: 1024px) {
        & {
          padding-top: 0;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 144px;
        @media (min-width: 1024px) {
          & {
            position: relative;
            top: inherit;
            left: inherit;
            float: left;
            width: 42%;
            overflow: hidden;
          }
        }
      }
    }
    .image-title {
      display: -webkit-box;
      color: #222;

      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: -0.21px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;

      overflow: hidden;
      cursor: pointer;
      @media (min-width: 1024px) {
        & {
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          letter-spacing: -0.24px;
          color: #222;
        }
      }
    }
    .discount {
      display: inline-block;
      color: #222;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: -0.21px;
      vertical-align: middle;
      @media (min-width: 1024px) {
        & {
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          letter-spacing: -0.24px;
          color: #222;
        }
      }
    }
    .header-info-box {
      display: block;
      height: auto;
      min-height: 105px;
      padding: 0;
      @media (min-width: 1024px) {
        & {
          overflow: hidden;
          height: auto;
          min-height: none;
          padding: 0 0 0 20px;
        }
      }
    }
  }

  .btnBox {
    button {
      display: none;
      background: 0 0;
      @media (min-width: 1024px) {
        & {
          display: block;
          width: 84px;
          height: 84px;
          margin: 0;
          background-size: 1252px 845px;
          position: absolute;
        }
      }
    }
    button:nth-child(1) {
      @media (min-width: 1024px) {
        & {
          left: -84px;
          right: inherit;
          background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
          background-position: -1158px -248px;
        }
      }
      @media (min-width: 1024px) and (max-width: 1300px) {
        & {
          left: -60px;
        }
      }
    }
    button:nth-child(2) {
      @media (min-width: 1024px) {
        & {
          left: inherit;
          right: -84px;
          background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
          background-position: -1108px -492px;
        }
      }
      @media (min-width: 1024px) and (max-width: 1300px) {
        & {
          right: -60px;
        }
      }
    }
  }
}
