.pop-view {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  .pop-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    .pop-inner {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .pop-layout {
        position: relative;
        cursor: pointer;
      }
      .pop-layout button {
        position: absolute;
        width: 32px;
        height: 32px;
        border: none;
        background: transparent;
        z-index: 11;
        cursor: pointer;
      }
    }
    .close-pop_today {
      bottom: 12px;
      left: 16px;
    }
    .close-pop_x {
      bottom: 12px;
      right: 15px;
    }
  }
}
