.footer {
  .container {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1240px;
    padding: 80px;
    background-color: #222222;
    color: #ffffff;
    @media screen and (max-width: 1024px) {
      padding: 80px 30px;
    }
    @media screen and (max-width: 768px) {
      padding: 80px 20px;
    }
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin-top: 14px;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .contact-layout {
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .contact_title {
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    letter-spacing: -0.27px;
    color: #f7f7f7;
  }
  .logo {
    position: absolute;
    top: -10px;
    right: 0;
    @media screen and (max-width: 1140px) {
      display: none;
    }
  }
  .sns img {
    width: 32px;
    height: 32px;
  }
  .only_pc {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    @media screen and (max-width: 645px) {
      display: block;
    }
  }

  .about {
    display: flex;
    max-width: 1240px;
    margin-top: 20px;
    padding-top: 20px;
    white-space: inherit;
    border-top: 1px solid gray;
    @media screen and (max-width: 1024px) {
      max-width: 840px;
    }
    @media screen and (max-width: 894px) {
      max-width: 645px;
    }
    @media screen and (max-width: 701px) {
      max-width: 589px;
    }

    .about-text span {
      margin-right: 1px;
      font-size: 14px;
      line-height: 25px;
      font-weight: 550;
      letter-spacing: -0.21px;
      color: #d3d3d3;
      @media screen and (max-width: 1024px) {
        font-size: 11px;
      }
      @media screen and (max-width: 545px) {
        font-size: 10px;
      }
    }
    .about_nav {
      position: absolute;
      bottom: 82px;
      right: 80px;
      @media screen and (max-width: 1024px) {
        bottom: 32px;
        left: 20px;
      }
      span {
        margin: 10px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: -0.21px;
        cursor: pointer;
      }
    }
  }

  .contact_time {
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: -0.18px;
    color: #9b9b9b;
  }
  .contact_qna_number {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 550;
  }
  .faq-button {
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    outline: 0;
    display: block;
    height: 36px;
    padding: 0 20px;
    border: #9b9b9b 1px solid;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 12px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: -0.18px;
    color: #fff;
    @media screen and (min-width: 1024px) {
      float: none;
    }
  }
}
