.has_shadow {
  &::after {
    display: block;
    background: #ffca43 !important;
  }
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}

.nav-view {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  text-align: center;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #f4f4f4;
  }
  .item_text {
    padding-bottom: 10px;
    &:hover {
      border-bottom: 3px solid #ffca43;
    }
  }

  .item {
    cursor: pointer;
    @media (min-width: 1024px) {
      & {
        margin-left: 50px;
        display: inline-block;
        vertical-align: top;
      }
    }
    a {
      outline-width: 1px;
      &:hover::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 100%;
        height: 4px;
        background: #ffcd32;
        margin-top: 6px;
      }
      @media (min-width: 1024px) {
        & {
          font-size: 18px;
          line-height: 27px;
          font-weight: 300;
          letter-spacing: -0.27px;
          color: #222;
          width: auto !important;
          background: 0 0;
          display: block;
          padding: 0;
          text-decoration: none;
        }
      }
    }
    span {
      cursor: pointer;
      @media (min-width: 1024px) {
        & {
          font-size: 18px;
          line-height: 27px;
          font-weight: 300;
          letter-spacing: -0.27px;
          color: #222;
        }
      }
    }
  }
}
